/**************************** Footer Style *********************************/

footer {
    background: $footer-background;
    color: $text-color;
    font-family: "Metropolis-SemiBold", sans-serif;
    strong,
    .Privacy-anchor {
        color: $blue-color;
    }

    .footer-header,
    .footer-body {
        border-bottom: 0.0625rem solid #a4b5e9;
    }

    .footer-body {
        strong {
            color: $blue-color;
        }
    }

    .footer-header img {
        height: 2rem;
    }

    h5,
    .footer_anchor {
        color: $text-color;
    }
    h4, .h4 {
        font-size: 1.5rem;
    }
}
